*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {

    /*========== Color =========== */

    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-1: #1A252C;
    --clr-2: #161E26;
    --clr-green-1: #24A765;
    --clr-grey-1: #CCCCCC;
    --clr-grey-2: #93969A;
    --clr-green-2: #0e8a2d;



    /*========== Device Width =========== */
    --container-width-lg: 80%;
    --container-width-md: 88%;
    --container-width-sm: 96%;


    /*========== Transition =========== */
    --transition: all 400ms ease;

}

/*================= General settings ===========*/

html {
    scroll-behavior: smooth;
}

section {
    padding: 5rem 0;
}

.container {
    margin: 0 auto;
    width: var(--container-width-lg);
}

img {
    width: 100%;
    display: block;
    object-fit: cover
}

.btn {
    padding: 0.3rem 1rem;
    color: var(--clr-white);
    border: 2px solid var(--clr-green-2);
    box-shadow: 0.2rem 0.2rem var(--clr-green-1);
    transition: var(--transition);
}

.btn:hover {
    box-shadow: -0.2rem -0.2rem var(--clr-green-1);
    letter-spacing: 1px;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 0.95rem;
}

p {
    font-size: 0.85rem;
    color: var(--clr-grey-1);
}

body {
    /* background-color: ; */
    overflow-x: hidden;
    line-height: 1.4;
    font-family: "Mulish", "Montserrat";
    min-height: 100vh;
    max-width: 1920px;
    color: var(--clr-white);
}


/*================= Header ===========*/

header {
    background: url('./images/home.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*================= Nav ===========*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

}

.logo span {
    color: var(--clr-green-1);
}

.menu__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

}

.menu__links a {
    color: var(--clr-white);
    font-weight: 600;
    transition: var(--transition);
    /* padding: 0 0.5rem; */
}

.menu__links a:hover {
    color: var(--clr-green-1);
    /* letter-spacing: 2px; */
}

span a i {
    font-size: 1.5rem;
    color: var(--clr-white);
    transition: var(--transition);
    margin-left: 1rem;
}

span a i:hover {
    color: var(--clr-green-1);
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: none; */
}

.btns .open__btn i,
.btns .close__btn i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

#hero {
    padding: 8rem 0;
}

.hero__left {
    width: 55%;

}

.hero__left h1>span {
    color: var(--clr-green-1);
}

.hero__left p {
    margin: 1rem 0 1.5rem;
}

.hero__features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.hero__features>div>span>i {
    color: var(--clr-green-1);
}

.hero__features .wifi_set,
.hero__features .wifi {
    display: flex;
    gap: 1rem;
}


/*================= Features ===========*/

.features {
    background-color: var(--clr-1);
}

.features__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.feature {
    padding: 2rem 1.5rem 1.5rem;
    text-align: center;
}

.feature:nth-child(1) {
    background-color: var(--clr-2);
}

.feature:nth-child(3) {
    background-color: var(--clr-grey-1);
    color: var(--clr-2);
}

.feature:nth-child(3) p {
    color: var(--clr-2);
}

.feature h5 {
    margin: 1rem 0;
}

.feature span i,
.service span i {
    font-size: 2.5rem;
    color: var(--clr-green-1);
}

/*================= About ===========*/

#about {
    background-color: var(--clr-1);
    padding: 10rem 0;
}

.about__container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 6.5rem;
}

.about__left h6 {
    color: var(--clr-grey-1);
}

.about__left h2 {
    width: 80%;
}

.about__left p {
    margin: 1rem 0 1.5rem;
}

/*================= Services ===========*/
#services {
    background-color: var(--clr-2);
}

.services__header {
    text-align: center;
    margin: 2rem 0 3rem;
}

.services__header h6 {
    color: var(--clr-grey-1);
}

.services__header h3 {
    padding: 1rem 0 1.5rem;
}

.services__header p {
    width: 65%;
    margin: 0 auto;
}

.services__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.service {
    border: 2px solid var(--clr-grey-2);
    padding: 1.5rem 1rem;
}

.service h5 {
    margin: 1rem 0;
}

/*================= Plans ===========*/

#plans {
    background-color: var(--clr-1);
}

.plans__header {
    text-align: center;
    margin: 1rem 0 3rem;
}

.plans__header h6 {
    color: var(--clr-grey-1);
}

.plans__header h3 {
    margin: 0.5rem 0 1rem;
}

.plans__header p {
    width: 65%;
    margin: 0 auto;
}

.plans__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.plan {
    border: 2px solid var(--clr-grey-2);
    padding: 1.5rem 1rem;

}

.plan p {
    margin: 0.5rem 0 1rem;
}

.plan ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}


.plan__lists li {
    font-size: 0.85rem;
    padding: 0.5rem 0;
}

.plan .price {
    margin: 1rem 0 2rem;
}

/*================= Works ===========*/
#work {
    background-color: var(--clr-2);
    /* box-shadow: inset 1rem 0 2rem var(--clr-2); */
}

.work__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.work__left-img img {
    width: 30rem;
}

.work__header {
    margin-bottom: 1.5rem;
}

.work__header h6 {
    color: var(--clr-grey-1);
}

.work__header h3 {
    width: 80%;
    margin: 1rem 0 1.5rem;
}

.work__laurel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

/*================= Testimonials ===========*/

#testimonials {
    background-color: var(--clr-1);
}

.testimonials__header {
    text-align: center;
    margin-bottom: 3rem;
}

.testimonials__header h6 {
    color: var(--clr-grey-1);
}

.testimonials__header h4 {
    margin: 0.5rem 0 1rem;
}

.testimonials__header p {
    width: 65%;
    margin: 0 auto;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.testimonial {
    border: 2px solid var(--clr-green-1);
    padding: 1rem 0.65rem;
}

.testimonial__about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;

}

.avatar img {
    width: 3.5rem;
    border-radius: 50%;
    border: 3px solid var(--clr-green-1);
    /* margin: 1rem 0 1.5rem; */

}

/*================= Subscribe ===========*/
#subscribe {
    background-color: var(--clr-2);
}

.sub__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    /* gap: 2rem; */
}

.sub__left h4 {
    margin-bottom: 0.5rem;
}

.sub__right form {
    width: 100%;
}

.sub__right form input {
    padding: 1rem;
    font-family: inherit;
    /* width: 20rem; */
}

.sub {
    padding: 1rem 1.5rem;
    font-family: inherit;
    background-color: transparent;
    color: var(--clr-white);
    font-weight: 700;
    border: 2px solid var(--clr-green-2);
    cursor: pointer;
    transition: var(--transition);
}

.sub:hover {
    background-color: var(--clr-green-1);
    color: var(--clr-white);
    border: 2px solid transparent;

}


/*================= Contact ===========*/
#contact {
    background-color: var(--clr-1);
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.contact__header {
    margin-bottom: 1.5rem;
}

.contact__header h6 {
    color: var(--clr-grey-1);
}

.contact__header h4 {
    margin-bottom: 0.5rem;
}

.contact__left form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name-phone {
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
    width: 100%;
}

.contact__left form input,
textarea {
    padding: 0.5rem 1rem;
    font-family: inherit;
}

.contact__left textarea {
    resize: none;
}

.contact__left .btn {
    width: min-content;
    background-color: transparent;
    font-family: inherit;
}

.contact__right-img img {
    height: 25rem;
}

/*================= Contact Channels ===========*/
#channels {
    background-color: var(--clr-2);
}

.channels__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.channel {
    display: flex;
    gap: 2rem;
    color: var(--clr-grey-1);
}

.channel__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*================= Footer  ===========*/

footer {
    background-color: var(--clr-1);
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 0 1rem;
    gap: 3rem;
}

.footer__company p {
    margin: 1rem 0 1.5rem;
}

.footer__socials {
    display: flex;
    gap: 1rem;
}

.quick__links li,
.useful__links li {
    padding: 0.5rem 0;
}

.quick__links a,
.useful__links a {
    color: var(--clr-grey-1);
}

.quick__links h5,
.useful__links h5 {
    margin-bottom: 1rem;
}

.footer__newsletter p {
    margin: 1rem 0 1.5rem;
}

.footer__sub {
    display: flex;
}

.footer__sub input {
    font-family: inherit;
    padding: 0 1rem;
}


/*================= Media Query (Tablets) ===========*/
@media screen and (max-width: 64em) {

    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.85rem;
    }

    p {
        font-size: 0.7rem;
        color: var(--clr-grey-1);
    }


    /*=======*========== Nav ======*=====*/
    nav {
        position: relative;
    }

    .menu__links {
        position: absolute;
        top: 3rem;
        right: 1%;
        flex-direction: column;
        gap: 0;
        align-items: center;
        display: none;
    }

    .menu__links li {
        padding: 2rem 4rem;
        width: 100%;

        background-color: var(--clr-green-2);
        box-shadow: -5px 5px 5px gray;
    }

    .menu__links li a {
        width: 100%;
        height: 100%;
    }

    .btns .open__btn i {
        display: block;
    }

    /*==========*======= Features ======*====*/

    .features__container {
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .feature {
        padding: 2rem 1.5rem 1.5rem;
        text-align: center;
    }


    .feature span i,
    .service span i {
        font-size: 1.5rem;
    }


    /*=====*========== About =======*===*/

    #about {
        padding: 5rem 0;
    }

    .about__container {
        grid-template-columns: 1.3fr 1fr;
        gap: 3.5rem;
    }

    /*============*=== Services =======*====*/

    .service {
        padding: 1rem;
    }

    /*========*======= Plans =====*======*/
    .plans__main {
        gap: 1rem;
    }

    .plan {
        border: 2px solid var(--clr-grey-2);
        padding: 1.5rem 1rem;
    }

    /*========*======== Works =====*=====*/

    .work__left-img img {
        width: 25rem;
    }

    .work__header {
        margin-bottom: 1rem;
    }

    /*===========*====== Contact ========*===*/

    .contact__container {
        gap: 2.5rem;
    }

    .name-phone {
        gap: 1rem;
    }

    /*==========*===== Contact Channels =====*=====*/

    .channels__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }


    /*=========*====== Footer  ======*=====*/
    .footer__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


}


/*================= Media Query (Small Devices) ===========*/
@media screen and (max-width: 37em) {

    .container {
        width: var(--container-width-sm);

    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.85rem;
    }

    p {
        font-size: 0.9rem;
        color: var(--clr-grey-1);
    }



    /*========**====== Nav ====**=====*/

    #hero {
        padding: 3rem 0;
    }

    .hero__left {
        width: 100%;
    }

    /*========**===== Features ======**===*/

    .features__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .feature {
        padding: 1.5rem 1rem 1rem;
    }

    .feature span i,
    .service span i {
        font-size: 2rem;
    }

    /*========**====== About =====**====*/

    #about {
        padding: 5rem 0;
    }

    .about__container {
        grid-template-columns: 1fr;
        gap: 3.5rem;
    }

    .about__left h2 {
        width: 100%;
    }

    /*=======**======= Services =====**====*/
    .services__header {
        margin: 2rem 0 2.5rem;
    }

    .services__main {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .service {
        padding: 1rem;
    }

    /*=========**===== Plans =======**==*/

    .plans__header {
        margin: 1rem 0 2.5rem;
    }

    .plans__main {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    /*========**======= Works ====**=====*/

    .work__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .work__left-img img {
        width: 20rem;
        margin: 0 auto;
    }

    /*=========**==== Testimonials =====**====*/
    .testimonials__header {
        margin-bottom: 3rem;
    }

    .testimonials {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    /*=======**======== Subscribe ====**=====*/

    .sub__left {
        text-align: center;
    }

    .sub__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    /*======**========= Contact =====**====*/

    .contact__container {
        grid-template-columns: 1fr;
    }

    .name-phone {
        flex-wrap: wrap;
        /* gap: 1rem; */
        width: 100%;
    }

    .name-phone input {
        width: 100%;
    }

    /*================= Contact Channels ===========*/
    .channels__container {
        grid-template-columns: 1fr;
        place-items: center;
    }

    /*====**=========== Footer  =====**====*/

    .footer__container {
        grid-template-columns: 1fr;
        /* place-items: center; */
        text-align: center;
        gap: 2.5rem;
    }

    .footer__socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__sub {
        justify-content: center;
        align-items: center;
    }

    .footer__sub input {
        font-family: inherit;
        padding: 1.05rem 1rem;
    }



}